<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jmeq17.mbglearn.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="io.github.jmeq17.mbglearn.entity.Student">
    <id column="stu_alias_id" jdbcType="INTEGER" property="id" />
    <result column="stu_alias_name" jdbcType="VARCHAR" property="myname" />
    <result column="stu_alias_age" jdbcType="INTEGER" property="age" />
    <result column="stu_alias_gender" jdbcType="CHAR" property="gender" />
    <result column="stu_alias_class" jdbcType="VARCHAR" property="class_" />
    <result column="stu_alias_enrollment_date" jdbcType="DATE" property="enrollmentDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stu_alias.id as stu_alias_id, stu_alias.name as stu_alias_name, stu_alias.age as stu_alias_age, 
    stu_alias.gender as stu_alias_gender, stu_alias.class as stu_alias_class, stu_alias.enrollment_date as stu_alias_enrollment_date
  </sql>
  <select id="selectByExample" parameterType="io.github.jmeq17.mbglearn.entity.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_student stu_alias
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student stu_alias
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="io.github.jmeq17.mbglearn.entity.StudentExample">
    delete from t_student stu_alias
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    insert into t_student (id, name, age, 
      gender, class, enrollment_date
      )
    values (#{id,jdbcType=INTEGER}, #{myname,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{gender,jdbcType=CHAR}, #{class_,jdbcType=VARCHAR}, #{enrollmentDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="myname != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="class_ != null">
        class,
      </if>
      <if test="enrollmentDate != null">
        enrollment_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="myname != null">
        #{myname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="class_ != null">
        #{class_,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentDate != null">
        #{enrollmentDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.github.jmeq17.mbglearn.entity.StudentExample" resultType="java.lang.Long">
    select count(*) from t_student stu_alias
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_student stu_alias
    <set>
      <if test="row.id != null">
        stu_alias.id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.myname != null">
        stu_alias.name = #{row.myname,jdbcType=VARCHAR},
      </if>
      <if test="row.age != null">
        stu_alias.age = #{row.age,jdbcType=INTEGER},
      </if>
      <if test="row.gender != null">
        stu_alias.gender = #{row.gender,jdbcType=CHAR},
      </if>
      <if test="row.class_ != null">
        stu_alias.class = #{row.class_,jdbcType=VARCHAR},
      </if>
      <if test="row.enrollmentDate != null">
        stu_alias.enrollment_date = #{row.enrollmentDate,jdbcType=DATE},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_student stu_alias
    set stu_alias.id = #{row.id,jdbcType=INTEGER},
      stu_alias.name = #{row.myname,jdbcType=VARCHAR},
      stu_alias.age = #{row.age,jdbcType=INTEGER},
      stu_alias.gender = #{row.gender,jdbcType=CHAR},
      stu_alias.class = #{row.class_,jdbcType=VARCHAR},
      stu_alias.enrollment_date = #{row.enrollmentDate,jdbcType=DATE}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    update t_student
    <set>
      <if test="myname != null">
        name = #{myname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="class_ != null">
        class = #{class_,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentDate != null">
        enrollment_date = #{enrollmentDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    update t_student
    set name = #{myname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=CHAR},
      class = #{class_,jdbcType=VARCHAR},
      enrollment_date = #{enrollmentDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="io.github.jmeq17.mbglearn.entity.Student">
    <id column="stu_alias_id1" jdbcType="INTEGER" property="id1" />
    <result column="stu_alias_name" jdbcType="VARCHAR" property="myname" />
    <result column="stu_alias_age" jdbcType="INTEGER" property="age" />
    <result column="stu_alias_gender" jdbcType="CHAR" property="gender" />
    <result column="stu_alias_class" jdbcType="VARCHAR" property="class_" />
    <result column="stu_alias_enrollment_date" jdbcType="DATE" property="enrollmentDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stu_alias.id1 as stu_alias_id1, stu_alias.name as stu_alias_name, stu_alias.age as stu_alias_age, 
    stu_alias.gender as stu_alias_gender, stu_alias.class as stu_alias_class, stu_alias.enrollment_date as stu_alias_enrollment_date
  </sql>
  <select id="selectByExample" parameterType="io.github.jmeq17.mbglearn.entity.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_student stu_alias
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student stu_alias
    where id1 = #{id1,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student
    where id1 = #{id1,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="io.github.jmeq17.mbglearn.entity.StudentExample">
    delete from t_student stu_alias
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    insert into t_student (id1, name, age, 
      gender, class, enrollment_date
      )
    values (#{id1,jdbcType=INTEGER}, #{myname,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{gender,jdbcType=CHAR}, #{class_,jdbcType=VARCHAR}, #{enrollmentDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id1 != null">
        id1,
      </if>
      <if test="myname != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="class_ != null">
        class,
      </if>
      <if test="enrollmentDate != null">
        enrollment_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id1 != null">
        #{id1,jdbcType=INTEGER},
      </if>
      <if test="myname != null">
        #{myname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="class_ != null">
        #{class_,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentDate != null">
        #{enrollmentDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.github.jmeq17.mbglearn.entity.StudentExample" resultType="java.lang.Long">
    select count(*) from t_student stu_alias
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_student stu_alias
    <set>
      <if test="row.id1 != null">
        stu_alias.id1 = #{row.id1,jdbcType=INTEGER},
      </if>
      <if test="row.myname != null">
        stu_alias.name = #{row.myname,jdbcType=VARCHAR},
      </if>
      <if test="row.age != null">
        stu_alias.age = #{row.age,jdbcType=INTEGER},
      </if>
      <if test="row.gender != null">
        stu_alias.gender = #{row.gender,jdbcType=CHAR},
      </if>
      <if test="row.class_ != null">
        stu_alias.class = #{row.class_,jdbcType=VARCHAR},
      </if>
      <if test="row.enrollmentDate != null">
        stu_alias.enrollment_date = #{row.enrollmentDate,jdbcType=DATE},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_student stu_alias
    set stu_alias.id1 = #{row.id1,jdbcType=INTEGER},
      stu_alias.name = #{row.myname,jdbcType=VARCHAR},
      stu_alias.age = #{row.age,jdbcType=INTEGER},
      stu_alias.gender = #{row.gender,jdbcType=CHAR},
      stu_alias.class = #{row.class_,jdbcType=VARCHAR},
      stu_alias.enrollment_date = #{row.enrollmentDate,jdbcType=DATE}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    update t_student
    <set>
      <if test="myname != null">
        name = #{myname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="class_ != null">
        class = #{class_,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentDate != null">
        enrollment_date = #{enrollmentDate,jdbcType=DATE},
      </if>
    </set>
    where id1 = #{id1,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.github.jmeq17.mbglearn.entity.Student">
    update t_student
    set name = #{myname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=CHAR},
      class = #{class_,jdbcType=VARCHAR},
      enrollment_date = #{enrollmentDate,jdbcType=DATE}
    where id1 = #{id1,jdbcType=INTEGER}
  </update>
</mapper>